app-agent {
  .agent {

    .agent__banner {
      background-image: url('assets/images/Oakland.jpg');
      background-size: cover;
      height: 150px;
      position: relative;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.3);
    }

    .banner__city {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      padding: 16px;
      position: relative;
    }
    
    .agent__photo {
      position: absolute;
      top: 110px;
      left: 50%;
      margin-left: -82px;
    }

    .agent__name {
      padding-top: 85px;
      text-align: center;
      font-size: 24px;
      
      p {
        margin: 0;
      }
    }

    .agent__reviews {
      text-align: center;
      font-size: 12px;

      img {
        position: relative;
        top: 2px;
      }
    }

    .agent__details {
      margin-top: 12px;
      text-align: center;
      font-size: 14px;

      span {
        font-weight: bold;
      }
    }

    .agent__match {
      text-align: center;
      font-size: 22px;
      line-height: 28px;
      padding: 10px 0;
      
      p {
        padding: 0 50px;
        margin: 0;
      }

      span {
        font-weight: bold;
        color: $zap-green;
      }

      .compatibility-metrics {
        font-size: 14px;
        padding: 5px 20px 0;
        line-height: 1.5;
      }

      .compatibility-metric {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        padding: 2%;

        .image-container {
          height: 50px;
        }
      }
    }

    .agent__form {

      textarea {
        border: 1px solid #bcc2ca;
        margin: auto;
        display: block;
        width: 380px;
        height: 100px;
        margin-top: 4px;
        border-radius: 4px;
        resize: none;
        padding: 10px 15px;
        font-size: 14px;
        line-height: 1.5;
      }

      button {
        margin: 15px auto 0;
        display: block;
        background-color: $zap-blue;
        color: white;
      }
    }

  }
}
