app-home {

  .banner {
    background-color: $zap-dark-blue;
  }

  .banner-images {
    text-align: center;

    img {
      border-radius: 60px;
      margin: 48px 5.5px 30px;
    }
  }

  .primary-copy {
    font-size: 20px;
    font-size: 400;
    margin: 0;
    padding: 16px;
    color: white;
  }

  .actions {
    padding: 16px;
  }

  .secondary-copy {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .form {
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #d9d9d9;
    padding: 4px 15px 0;
  }

  input[type='text'] {
    height: 28px;
    border: none;
    width: 100%;
    font-size: 14px;
    color: $zap-dark-blue;
  }

  button#app-next {
    border: none;
    bottom: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    width: 50vw;
    color: white;
    font-size: 1rem;
    padding: 18px 40px;
    display: block;
    background-color: $zap-blue;
    position: absolute;
    left: 50%;
    margin-left: -25vw;
    z-index: 1;
  }

  .map {
    height: 350px;
    width: 100%;

    .map-control {
      display: none;
    }
  }
}
